<div class="static-wrapper">
    <div class="page">
        <div class="tabs-container">
            <ul class="tabs">
                <li class=""><a class="btn transparent active" href="<%= about_path(@about) %>"><span class="flex">Om os</span></a></li>
                <li class=""><a class="btn transparent" href="<%= team_path(@team) %>"><span class="flex">Teamet</span></a></li>
            </ul>
            
            </div>
                <div class="content-container">
                    <h1 class="page-title">Om os</h1>
                    <div class="content">
                        <p>BetterWing er en uafhængig sundhedsportal, der blev lanceret i starten af 2015. 
                        Vores mission er at give alle behandlere i DK værktøjer til at professionalisere og effektivisere det de brænder for - nemlig at behandle mennesker, at oplyse omkring forskellige sundhedsrelaterede emner og at give alle danskere med sygdom og skader et nemt og overskueligt værktøj til at finde den rette behandler.
                        </p>
                        
                        <p>Alle mennesker er forskellige og alle mennesker ønsker noget forskelligt af en behandler - derfor har vi også gjort det til en af vores vigtigste opgaver at give klienten et så enkelt og konkret overblik over behandlere som overhovedet muligt. 
                        Dette har vi gjort ved dels at lade behandlerne vælge specialer, når de tilmelder sig og dels ved at give klienterne mulighed for at bedømme deres behandlere ud fra en række parametre, så andre på den måde kan få indtryk af hvilken behandler de skal vælge.
                        </p>
                        
                        <p>Det handler om, at klienten ved hvad han eller hun går ind til, og i BetterWing tror vi på at ved at give behandlerne den bedst tænkelige platform til at kommunikere og markedsføre sig selv, vil det medføre at klienterne får en forbedret mulighed for at opnå præcis den behandling, der er bedst i netop deres situation.
                        </p>
                        
                        <p>De bedste hilsner</p>
                        
                        <p>Fra BetterWing-teamet<br></p>
                        
                    </div>
                </div>
    </div>
</div>