<div class="static-wrapper  faqs-wrapper">
    <div class="page">
        <div class="tabs-container">
            <ul class="tabs">
                <li class=""><a class="btn transparent" href="<%= faqs_path(@faqs) %>"><span class="flex">Generelt</span></a></li>
                <li class=""><a class="btn transparent active" href="<%= faqspractitioners_path(@faqspractitioners) %>"><span class="flex">For behandlere</span></a></li>
                <li class=""><a class="btn transparent" href="<%= faqsusers_path(@faqsusers) %>"><span class="flex">For brugere</span></a></li>
            </ul>
        </div>
        <div class="content-container">
            <h4 class="page-title">Q&amp;A</h4>
            <div class="content">
                <div class="faq">
                    <h3 class="question">Hvorfor være på BetterWing?</h3>
                    <p class="answer">BetterWing er Danmarks største udbyder af selv-oprettede behandlere i Danmark og har et 12.000 mand community af brugere bag os. 
                    Vores underliggende algoritme benytter behandler-specialer og crowd-scoring til optimalt at matche behandler med bruger, således at behandlere kan blive fundet på deres spidskompetencer og dermed levere målrettede behandlings oplevelser, ledende til mere relevante målgrupper og et højere kvalitetsniveau.</p>
                </div>
                
                <div class="faq">
                    <h3 class="question">Koster det noget at være medlem af BetterWing?</h3>
                    <p class="answer">Vi er i “beta” nogle måneder i nu hvor alt vil være gratis således at vi kan lytte til jeres feedback og forbedre aspekter af platformen. 
                    Når beta-perioden er overstået vil et medlemskab koste 199 kr. / måned. Medlemskabet inkluderer egen behandler profil på platformen, en direkte salgskanal som vi administrerer og vækster, marketing muligheder, direkte booking, et CRM system mv.</p>
                </div>
                
                <div class="faq">
                    <h3 class="question">Hvordan sikrer I, at de bedømmelser jeg får er reelle?</h3>
                    <p class="answer">Troværdighed er meget vigtig for os, og derfor har vi lagt nogle sikkerhedsforanstaltninger ind, der sikrer, at bedømmelserne er så reelle som overhovedet muligt. 
                    En bruger kan kun bedømme dig ved at oprette sig som bruger på BetterWing, og de kan ikke bedømme dig anonymt. Dermed kan man altid se hvem, der har bedømt en, og brugerne har accepteret vores etiske retningslinjer ift. sprogbrug m.m.</p>
                </div>
                
                <div class="faq">
                    <h3 class="question">Jeg er i tvivl om hvorvidt min profession passer til Betterwing?</h3>
                    <p class="answer">Som udgangspunkt passer alle professioner, der har med den ene eller anden form for behandling at gøre til Betterwing. 
                    Vi tror på at titler er sekundært, og resultater er det vigtigste - behandler du mennesker og gør det godt, ja, så er Betterwing netop noget for dig - underordnet om du så kalder dig psykolog, læge eller healer.</p>
                </div>
                
                <div class="faq">
                    <h3 class="question">Der er en bedømmelse, som jeg er utilfreds med, hvad gør jeg?</h3>
                    <p class="answer">Mener du at en kommentar og/eller bedømmelse ikke er reel eller overholder vores etiske retningslinjer, kan du trykke på ‘Anmeld’ ved kommentaren. 
                    Derefter vil vi tage kontakt til dig og til brugeren, der har bedømt dig. Hvis det viser sig, at brugeren er falsk, ikke har været patient hos dig eller ikke har overholdt vores etiske retningslinjer vil bedømmelse og kommentar blive slettet.</p>
                </div>
                
                <div class="faq">
                    <h3 class="question">Hvordan redigerer jeg i mine oplysninger?</h3>
                    <p class="answer">Du kan til enhver tid redigere i alle dine og din kliniks oplysninger. Det gør du via kontrolpanelet som du finder her (link til kontrolpanel)</p>
                </div>
                
                <div class="faq">
                    <h3 class="question">Kan jeg få et blogindlæg på jeres blog, og hvordan?</h3>
                    <p class="answer">Vi modtager meget gerne blogindlæg, så længe der ikke er tale om direkte reklame for din virksomhed eller produkt. 
                    Indlæg som oplyser om en behandlingsform, behandling af et sundhedsmæssigt problem, ny forskning m.m., som kan gavne brugernes viden er meget velkomne. 
                    Ønsker du at bidrage til vores blog, så send en mail til kasper@betterwing.dk</p>
                </div>
            </div>
        </div>
    </div>
</div>