<div class="static-wrapper faqs-wrapper">
    <div class="page">
        <div class="tabs-container">
            <ul class="tabs">
                <li class=""><a class="btn transparent active" href="<%= faqs_path(@faqs) %>"><span class="flex">Generelt</span></a></li>
                <li class=""><a class="btn transparent" href="<%= faqspractitioners_path(@faqspractitioners) %>"><span class="flex">For behandlere</span></a></li>
                <li class=""><a class="btn transparent" href="<%= faqsusers_path(@faqsusers) %>"><span class="flex">For brugere</span></a></li>
            </ul>
        </div>
        <div class="content-container">
            <h4 class="page-title">Q&amp;A</h4>
            <div class="content">
                <div class="faq">
                    <h3 class="question">Jeg har glemt mit kodeord/brugernavn, hvad gør jeg?</h3>
                    <p class="answer">Du trykker på log-in knappen øverst til højre (som om du ville logge ind) og trykker derefter på knappen “Jeg har glemt mit kodeord”.</p>
                </div>
                
                <div class="faq">
                    <h3 class="question">Jeg kan ikke logge ind, hvad gør jeg?</h3>
                    <p class="answer">Hvis du godt kan huske dit kodeord, men stadig ikke kan logge ind, så skriv endelig en mail til os på info@betterwing.dk</p>
                </div>
                
                <div class="faq">
                    <h3 class="question">Siden melder fejl</h3>
                    <p class="answer">Selvom vi arbejder hårdt på, at siden kører gnidningsfrit, kan det ske, at en side melder fejl. 
                    Skulle du være så uheldig at opleve en fejl, så skriv eller ring gerne til os, så løser vi problemet med det samme.</p>
                </div>
            </div>
        </div>
    </div>
</div>