<div class="static-wrapper  faqs-wrapper">
    <div class="page">
        <div class="tabs-container">
            <ul class="tabs">
                <li class=""><a class="btn transparent" href="<%= faqs_path(@faqs) %>"><span class="flex">Generelt</span></a></li>
                <li class=""><a class="btn transparent" href="<%= faqspractitioners_path(@faqspractitioners) %>"><span class="flex">For behandlere</span></a></li>
                <li class=""><a class="btn transparent active" href="<%= faqsusers_path(@faqsusers) %>"><span class="flex">For brugere</span></a></li>
            </ul>
        </div>
        <div class="content-container">
        <h4 class="page-title">Q&amp;A</h4>
        <div class="content">
            <div class="faq">
                <h3 class="question">Hvorfor skal jeg benytte BetterWing til at finde min næste behandler?</h3>
                <p class="answer">Det vigtigste for os er at matche dig med den rigtige behandler. Vi har bygget en algoritme ind i vores søgemaskine som sørger for at de symptomer / kriterier du giver os, automatisk bliver matchet med alle vores behandleres specialer, under-specialer og behandler score. 
                På den måde sikrer du at gøre alt du kan for at ramme rigtigt med behandler valg, og dermed undgå spildt tid og penge i en tid hvor man egentlig bare har brug for den rigtige målrettede behandling oplevelse.</p>
            </div>

            <div class="faq">
                <h3 class="question">Koster det noget for mig at bruge BetterWing?</h3>
                <p class="answer">Nej, det er helt gratis for dig at bruge BetterWing og at oprette dig som bruger.</p>
            </div>
            
            <div class="faq">
                <h3 class="question">Hvordan bedømmer jeg en behandler?</h3>
                <p class="answer">Du skal være oprettet som bruger og logget ind for at bedømme en behandler. Du finder behandleren ved at søge efter vedkommende på forsiden. 
                Når du klikker ind på behandlerens profil, kan du se en knap, der hedder ‘Bedøm nu’. Når du klikker på den, kommer der et pop up vindue frem, hvor du først vælger, hvilket problem behandleren har behandlet dig for, dernæst giver du en stjernebedømmelser og kan evt. skrive en kommentar. Når du klikker på ‘Gem’ har du afgivet din bedømmelse, som vil være offentlig for alle.</p>
            </div>
            
            <div class="faq">
                <h3 class="question">Hvorfor skal jeg oprette mig som bruger for at bedømme en behandler?</h3>
                <p class="answer">Troværdighed og gennemsigtighed er meget vigtig for os, vores brugere og behandlere og derfor skal du tilkendegive hvem du er, hvis du vil bedømme en behandler. 
                Af samme årsag kan du heller ikke bedømme anonymt.</p>
            </div>
            
            <div class="faq">
                <h3 class="question">Jeg kan ikke finde en behandler, der matcher min søgning, hvad gør jeg?</h3>
                <p class="answer">Vi arbejder hele tiden på at forbedre vores service. Dog kan det ske, at vi ikke kan opfylde dine behov. 
                I så fald er du velkommen til at kontakte os ved at skrive til info@betterwing.dk, og så vil vi søge at få din behandler på hurtigst muligt.</p>
            </div>
            
            <div class="faq">
                <h3 class="question">Hvordan booker jeg en tid hos en behandler på BetterWing?</h3>
                <p class="answer">Du finder først en behandler, der matcher dine kriterier via søgningen på forsiden. Derefter vælger du den behandler, du vil booke en tid hos. 
                På behandlerens profilside klikker du på ‘Book en tid’.</p>
            </div>
            
            <div class="faq">
                <h3 class="question">Hvad koster det at booke en tid hos en behandler på BetterWing?</h3>
                <p class="answer">Det er meget individuelt, da det er op til behandlerne, hvor meget de vil tage for deres behandlinger. Der bliver ikke pålagt noget gebyr eller anden form for ekstra betaling for dig ved at booke en tid gennem BetterWing.</p>
            </div>
            
            <div class="faq">
                <h3 class="question">Hvad gør jeg, hvis jeg ikke er tilfreds med en behandling, jeg har fået af en behandler, jeg har fundet på BetterWing.</h3>
                <p class="answer">Vi blander os ikke i den behandling du har fået, men formidler blot informationer om de enkelte behandlere. Derfor bør du altid henvende dig hos din behandler, hvis dit problem ikke er blevet løst, eller der er noget, du er utilfreds med. 
                Dog skal det siges at der ikke findes en service i Danmark som hjælper dig bedre en Betterwing med at komme så tæt på det rigtige behandler-valg som muligt.</p>
            </div>
        </div>
        </div>
    </div>
</div>