<div class="auth-wrapper login-wrapper">
    <div class="page">
        <div class="tabs-container">
            <ul class="tabs">
                <li class=""><a class="btn transparent" href="<%= login_path(@login) %>"><span class="flex">Login</span></a></li>
                <li class=""><a class="btn transparent" href="<%= signup_path(@signup) %>"><span class="flex">Tilmeld</span></a></li>
            </ul>
        </div>
        
        <div class="content-container">
            <h4 class="page-title">Login</h4>
                <div class="content">
                    <p class="description"></p>
                    <div class="form-container">
                        <form>
                            <div class="field text-field "><input type="email" value="" id="bw9t1q" placeholder="Email" title="Email" required="" autocomplete="off" style="background-image: url(&quot;data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABAAAAASCAYAAABSO15qAAAAAXNSR0IArs4c6QAAAPhJREFUOBHlU70KgzAQPlMhEvoQTg6OPoOjT+JWOnRqkUKHgqWP4OQbOPokTk6OTkVULNSLVc62oJmbIdzd95NcuGjX2/3YVI/Ts+t0WLE2ut5xsQ0O+90F6UxFjAI8qNcEGONia08e6MNONYwCS7EQAizLmtGUDEzTBNd1fxsYhjEBnHPQNG3KKTYV34F8ec/zwHEciOMYyrIE3/ehKAqIoggo9inGXKmFXwbyBkmSQJqmUNe15IRhCG3byphitm1/eUzDM4qR0TTNjEixGdAnSi3keS5vSk2UDKqqgizLqB4YzvassiKhGtZ/jDMtLOnHz7TE+yf8BaDZXA509yeBAAAAAElFTkSuQmCC&quot;); background-repeat: no-repeat; background-attachment: scroll; background-size: 16px 18px; background-position: 98% 50%;"></div>
                            <div class="field text-field "><input type="password" value="" id="wvk4xu" placeholder="Adgangskode" title="Adgangskode" required="" autocomplete="off" style="background-image: url(&quot;data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABAAAAASCAYAAABSO15qAAAAAXNSR0IArs4c6QAAAPhJREFUOBHlU70KgzAQPlMhEvoQTg6OPoOjT+JWOnRqkUKHgqWP4OQbOPokTk6OTkVULNSLVc62oJmbIdzd95NcuGjX2/3YVI/Ts+t0WLE2ut5xsQ0O+90F6UxFjAI8qNcEGONia08e6MNONYwCS7EQAizLmtGUDEzTBNd1fxsYhjEBnHPQNG3KKTYV34F8ec/zwHEciOMYyrIE3/ehKAqIoggo9inGXKmFXwbyBkmSQJqmUNe15IRhCG3byphitm1/eUzDM4qR0TTNjEixGdAnSi3keS5vSk2UDKqqgizLqB4YzvassiKhGtZ/jDMtLOnHz7TE+yf8BaDZXA509yeBAAAAAElFTkSuQmCC&quot;); background-repeat: no-repeat; background-attachment: scroll; background-size: 16px 18px; background-position: 98% 50%;"></div>
                            <div class="forgot-password">
                                <a href="/forgot-password">Glemt adgangskode?</a>
                            </div>
                            <div class="field checkbox-field remember"><span class="checkbox"><input type="checkbox" id="jsnjth" value="on"><label for="jsnjth">Husk mig</label></span></div>
                            <div class="btn-container"><button class="btn blue"><span class="flex">Log ind</span></button></div>
                        </form>
                    </div>
                </div>
        </div>
    </div>
</div>