<div class="static-wrapper">
    <div class="page">
        <div class="tabs-container">
            <ul class="tabs">
                <li class=""><a class="btn transparent" href="/about"><span class="flex">Om os</span></a></li>
                <li class=""><a class="btn transparent active" href="/about/team"><span class="flex">Teamet</span></a></li>
            </ul>
        </div>
        <div class="content-container team">
            <h1 class="page-title">Teamet</h1>
                <div class="content">
                    <div class="member">
                        <div class="image" style="background-image: url(&quot;/images/kasper.png&quot;);"><img src="/images/kasper.png" alt="Kasper Valentin"></div>
                        <div class="info">
                            <h3 class="name">Kasper Valentin</h3>
                            <div class="description">
                                <div>Kasper er 33 år, fra Svendborg og uddannet folkeskolelærer. Han er gift og far til en pige på 3 år. 
                                I 2008 blev han selv syg med uforklarlige kroniske smerter. Det gav ham Idéen til at lave behandlersøgemaskinen SearchCare.dk, da han fandt ud af, at det var en ren jungle at finde en behandler med spidskompetencer i lige netop hans problem.&nbsp;</div>
                                
                                <div>De fleste behandlere har områder, de enten er efteruddannet i eller har særlig interesse for, men hvor skal man vide dette fra? Derfor skabte han med SearchCare.dk en nem overskuelig side hvor man, ud fra en problemorienteret søgning, hurtigt kunne finde frem til den bedste behandler til lige præcis ens problem. 
                                Noget, der ikke fandtes i forvejen. I 2016 indgik han partnerskab med det nuværende team, hvilket resulterede i et nyt navn og en ny forbedret platform – BetterWing.&nbsp;</div>
                                
                                <div>Efter at have medvirket i DR-dokumentaren ’De uhelbredelige?’ i 2014, om danskere, der er opgivet af systemet, men som tager sagen i egen hånd for at blive helbredt og få et bedre liv, fik han kontakt med en behandler med de rette kompetencer, der fandt frem til, hvad der var galt, og siden da er det kun gået fremad. &nbsp;</div>
                                <div>I 2016 udgav Kasper desuden bogen ’Det som ingen ser’ om livet og udfordringerne med en usynlig sygdom.</div>
                            </div>
                        </div>
                    </div>
                </div>
        </div>
    </div>
</div>