
<div class="page-footer">
    <div class="footer-left"> 
      <div class="logo-container"><%= image_tag("logo.png", :alt => "BetterWing") %></div>      
           
            Krebsen 99<br />
            5700 Svendborg<br />
            CVR: 3649 6789<br />
            info@betterwing.dk<br />

            <ul class="social-links">
                <li><a href="https://www.facebook.com/betterwing"><i class="fa fa-facebook"></i></a></li>
                <li><a href="https://twitter.com/BetterWingCom"><i class="fa fa-twitter"></i></a></li>
                <li><a href="https://www.linkedin.com/company/betterwing"><i class="fa fa-linkedin"></i></a></li>
                <li><a href="https://plus.google.com/+BetterwingDk"><i class="fa fa-google-plus"></i></a></li>
            </ul>
        </div>    
     
        <div class="footer-right">
            <nav class="links-container">
                <ul>
                    <li><a href="/about">Om os</a></li>
                    <li><a href="#">Jobs</a></li>
                    <li><a href="/press">Presse</a></li>
                    <li><a href="/contact">Kontakt</a></li>
                    <li><a href="/blog">Blog</a></li>
                </ul>
            
                <ul>
                    <li><a href="/faqs/general">Hjælp</a></li>
                    <li><a href="/terms">Vilkår og betingelser</a></li>
                    <li><a href="/about/ambassadors">Ambassadører</a></li>
                    <li><a href="/about/friends">Venner</a></li>
                    <li><a href="/about/partners">Samarbejdspartnere</a></li>
                </ul>
            </nav>
            
            <div class="copyright">Copyright © 2017 BetterWing IVS</div>
            </div>
</div>
</body>
</html>
            




